<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>养花常识</key>
	<array>
		<dict>
			<key>title</key>
			<string>家庭养花</string>
			<key>ID</key>
			<string>56902</string>
		</dict>
		<dict>
			<key>title</key>
			<string>养花常识</string>
			<key>ID</key>
			<string>56903</string>
		</dict>
		<dict>
			<key>title</key>
			<string>花卉诊所</string>
			<key>ID</key>
			<string>56904</string>
		</dict>
		<dict>
			<key>title</key>
			<string>花卉繁殖</string>
			<key>ID</key>
			<string>56905</string>
		</dict>
		<dict>
			<key>title</key>
			<string>其他花卉</string>
			<key>ID</key>
			<string>56906</string>
		</dict>
		<dict>
			<key>title</key>
			<string>认识植物</string>
			<key>ID</key>
			<string>56907</string>
		</dict>
	</array>
	<key>植物种类</key>
	<array>
		<dict>
			<key>title</key>
			<string>兰科植物</string>
			<key>ID</key>
			<string>56909</string>
		</dict>
		<dict>
			<key>title</key>
			<string>球根花卉</string>
			<key>ID</key>
			<string>56910</string>
		</dict>
		<dict>
			<key>title</key>
			<string>蔷薇月季</string>
			<key>ID</key>
			<string>56911</string>
		</dict>
		<dict>
			<key>title</key>
			<string>食虫植物</string>
			<key>ID</key>
			<string>56912</string>
		</dict>
		<dict>
			<key>title</key>
			<string>药用植物</string>
			<key>ID</key>
			<string>56913</string>
		</dict>
		<dict>
			<key>title</key>
			<string>香料植物</string>
			<key>ID</key>
			<string>56914</string>
		</dict>
	</array>
	<key>专题植物</key>
	<array>
		<dict>
			<key>title</key>
			<string>水培花卉</string>
			<key>ID</key>
			<string>56916</string>
		</dict>
		<dict>
			<key>title</key>
			<string>瓜果蔬菜</string>
			<key>ID</key>
			<string>56917</string>
		</dict>
		<dict>
			<key>title</key>
			<string>盆景制作</string>
			<key>ID</key>
			<string>56918</string>
		</dict>
		<dict>
			<key>title</key>
			<string>多肉植物</string>
			<key>ID</key>
			<string>56919</string>
		</dict>
		<dict>
			<key>title</key>
			<string>草本植物</string>
			<key>ID</key>
			<string>56920</string>
		</dict>
		<dict>
			<key>title</key>
			<string>木本花卉</string>
			<key>ID</key>
			<string>56921</string>
		</dict>
	</array>
	<key>生活与花</key>
	<array>
		<dict>
			<key>title</key>
			<string>花卉资讯</string>
			<key>ID</key>
			<string>56923</string>
		</dict>
		<dict>
			<key>title</key>
			<string>花卉食用</string>
			<key>ID</key>
			<string>56924</string>
		</dict>
		<dict>
			<key>title</key>
			<string>家居装饰</string>
			<key>ID</key>
			<string>56925</string>
		</dict>
		<dict>
			<key>title</key>
			<string>保健养生</string>
			<key>ID</key>
			<string>56926</string>
		</dict>
		<dict>
			<key>title</key>
			<string>风水花卉</string>
			<key>ID</key>
			<string>56927</string>
		</dict>
		<dict>
			<key>title</key>
			<string>知心花语</string>
			<key>ID</key>
			<string>56994</string>
		</dict>
	</array>
</dict>
</plist>
